// Block
.title {
  cursor: pointer;
  padding: 10px;
  background: #e5eecc;
  border:solid 1px #c3c3c3;
  &.active {
    background: #d4a06a;
    color: #210439;
  }
}
.content {
  display: none;
  padding: 10px;
  background: #e5eecc;
}


.myClass {
  display: none;
  font-size:20px;
  color: #FF0000;
  cursor: pointer;
}


.block-1 {
  width: 100%;
  padding: 10px;
  border-top: 1px solid #9b9b9b;
  .box-sizing(border-box);
}
.preview {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 334px;
  overflow: hidden;
  margin: 0 auto;
  .desc {
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -50px 0 0 -50px;
    font-size: 10em;
    color: #fff;
  }
  ul {
    li {
      position: relative;
      float: left;
      width: 100%;
      height: auto;
      img {
        max-width: 100%;
        max-height: 100%;
     }
    }
  }
}
.slideshow {
  position: relative;
  width: 500px;
  margin: 0 auto;
  a, a:visited {color: #000;
   text-transform: uppercase;
 }
}
.slider {
  ul {
    text-align: center;
    li {
      display: inline-block;
      a {
        display: block;
        .size(10px,10px);
        margin: 0 5px;
        background: #000;
        .border-radius(10px);
        text-indent: -99px;
        overflow: hidden;
      }
      .active {
        a {
          background: #ff3;
        }
      }
    }
  }
}
.button {
  position: absolute;
  z-index: 10;
  width: 50px;
  height: 30px;
  background: #fff;
  line-height: 30px;
  text-align: center;
  &:hover {
    background: #A09E9E;
    color: #1FFF00;
  }
}
.next {
  top: 50%;
  right: 0;
}
.prev {
  top: 50%;
  left: 0;
}