// Plugin
#img-thumb {
  cursor: pointer;
}
#overlay {
  width: 100%;
  height: 100%;
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #000;
  opacity: 0.5;
  z-index: 1000;
}
#img-view {
  display: none;
  position: absolute;
  width: 572px;
  height: 572px;
  margin: 0 auto;
  top: 10%;
  left: 20%;
  bottom: 20%;
  right: 20%;
  z-index: 1001;
}
.btn-close {
  display: none;
  cursor: pointer;
  position: absolute;
  top: 9%;
  right: 26%;
  width: 30px;
  background: #000;
  color: #fff;
  text-align: center;
  line-height: 30px;
  z-index: 1010;
}