extends layouts/layout

block vars
  -title = 'TEST JS'
  -bodyClass = 'home'

block container
  .inner
    #main
      .block-1
        .accordion
          h2.title Click to slide the panel down or up #1
          .content
            h2 Hello world 1st!
            p đaads
          h2.title Click to slide the panel down or up #2
          .content Hello world 2nd!
          h2.title Click to slide the panel down or up #3
          .content Hello world 3rd!
      .block-1
        h2 Slide show
        .slideshow
          a(href="javascript:void();").button.next next
          a(href="javascript:void();").button.prev prev
          .preview
            ul
              li: +img("images 1","images/upload/img-1.jpg")
              li: +img("images 2","images/upload/img-2.jpg")
              li: +img("images 3","images/upload/img-3.jpg")
              li: +img("images 4","images/upload/img-4.jpg")
