extends layouts/template

block vars
  -title = 'Layer'

block container
  .block-1
    h2 Slide show
    .slideshow#slideshow-1
      a(href="#").button.next next
      a(href="#").button.prev prev
      .preview
        ul
          li
            .desc 1
            +img("images 1","images/upload/img-1.jpg")
          li
            .desc 2
            +img("images 2","images/upload/img-2.jpg")
          li
            .desc 3
            +img("images 3","images/upload/img-3.jpg")
          li
            .desc 4
            +img("images 4","images/upload/img-4.jpg")
      .slider
        ul
          li: +link("1","javascript:void();")
          li: +link("2","javascript:void();")
          li: +link("3","javascript:void();")
          li: +link("4","javascript:void();")