include ../mixins/all

block vars
  -title = 'Site'
  -bodyClass = ''

doctype html
//[if IE 8]><html lang="en" class="no-js ie ie8"><![endif]
//[if IE 9]><html lang="en" class="no-js ie ie9"><![endif]
//[if gt IE 9]><!
html(class="no-js", lang="en")
  //<![endif]
  head
    meta(charset="utf-8")
    //[if IE]><meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"><![endif]
    title=title
    meta(name="description", content="")
    meta(name="keywords", content="")
    meta(name="robots", content="index, follow")
    meta(name="author", content="")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    link(rel="shortcut icon", href="favicon.ico", type="image/x-icon")
    link(rel="apple-touch-icon", href="touch-icon-iphone-60x60-precomposed.png")
    link(rel="apple-touch-icon", sizes="60x60", href="touch-icon-ipad-76x76-precomposed.png")
    link(rel="apple-touch-icon", sizes="114x114", href="touch-icon-iphone-retina-120x120-precomposed.png")
    link(rel="apple-touch-icon", sizes="144x144", href="touch-icon-ipad-retina-152x152-precomposed.png")
    link(rel="stylesheet", href="css/style.css")
    script(src="js/modernizr.js")
  body(class=bodyClass)
    #container
      include ../includes/header
      block container
      //- include ../includes/footer
    include ../includes/scripts
    //[if lt IE 8]><p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p><![endif]
    noscript JavaScript is off. Please enable to view full site.
