include ../mixins/all
block vars
  -title = 'Template'

doctype html
html(class="no-js", lang="en")
  head
    meta(charset="utf-8")
    title=title
    meta(name="description", content="")
    meta(name="keywords", content="")
    meta(name="robots", content="noindex, nofollow")
    meta(name="author", content="")
    meta(name="viewport", content="width=device-width")
    link(rel="shortcut icon", href="favicon.ico", type="image/x-icon")
    link(rel="stylesheet", href="css/style.css")
    style.
      #template {margin: 20px; background: #eee;}
    script(src="js/modernizr.js")
  body#template
    block container
    include ../includes/scripts
